In [ ]:
import nltk
from collections import Counter
import pandas as pd

In [ ]:
import numpy as np

def levenshtein(seq1, seq2):
    size_x = len(seq1) + 1
    size_y = len(seq2) + 1
    matrix = np.zeros ((size_x, size_y))
    for x in range(size_x):
        matrix [x, 0] = x
    for y in range(size_y):
        matrix [0, y] = y

    for x in range(1, size_x):
        for y in range(1, size_y):
            if seq1[x-1] == seq2[y-1]:
                matrix [x,y] = min(
                    matrix[x-1, y] + 1,
                    matrix[x-1, y-1],
                    matrix[x, y-1] + 1
                )
            else:
                matrix [x,y] = min(
                    matrix[x-1,y] + 1,
                    matrix[x-1,y-1] + 1,
                    matrix[x,y-1] + 1
                )
    #print (matrix)
    return (matrix[size_x - 1, size_y - 1])

a="drive"
b="drove"
levenshtein(a,b)

1.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
f = open('/content/drive/My Drive/asile/396.txt', 'r', encoding='utf8')

In [ ]:
text= f.read()

In [ ]:
text

"Bir prensten evlenme teklifi alma yaşı resmi olarak 36’ya çıktı! Müteveffa Diana’nın müstakbel gelini Meghan Markle, 30’ların ortalarındaki kızlarına ‘evde kaldı’ iması yapan bütün telaşlı anneleri sindirdi\nBizim kraliyet aileleriyle ilişkimizi kuran, çocukluğumuzun Hayat dergileridir. Grace Kelly efsane, Caroline pürüzsüz, Stephanie asiydi. Diana öldüğünde perişan olmuştuk.\nO zamanlar Meghan Markle gibi birinin prensesliğinin tahayyülü bile zordu. Olmaz ya, hadi asaleti aktivizmle replase ettik diyelim... Ama prenseslik biraz da ciltte porselenlik demek değil miydi?\nÇok ufak ihtimal ama velev ki oldu... O zaman da bin kamyon laf edilirdi. Kadının ne yaşı kalırdı, ne soyağacı... Ne kariyerindeki eksiği gediği, ne yüzündeki benleri... Ne daha önce evlenmişliği, ne eski kocasının serüvenleri...\nAma artık sadece 50'nin yeni 30 olduğu değil, vitiligonun (hani pigment yetersizliği yüzünden ciltte oluşan haritalar) da moda olduğu zamanlardayız. Yaşın önemsenmediği, eskiden kusur sayılan lekelerin ise güzellik, ayrıcalık, biriciklik olarak görüldüğü bir dönem bu.\nFarklı ırk ve renk, eskinin Benetton şimdinin Gap reklamlarının zenginliği, çeşitliliği demek. Bunu dile bile getirmiyor artık dünya...\nHerkes kendi birey olarak nitelikleriyle var, soylu atasının ya da maden işçisi dedesininkilerle değil.\nEvlenip boşanmış olmak 'ama'sıyla, 'niye'siyle akla düştüğü üzere bir 'defo' olmaktan çıkalı hele, çok oldu. Tam tersi bir 'becermişlik', 'istenmişlik', 'yaşanmışlık' tecrübesi olarak artı hanesine yazılı...\nDizi oyunculuğu, sinemanın yanında hor görüldü, o daha ulvi amaca giden idealist yolda para kazanmak için zoraki katlanılan bir işmiş gibi sunuldu yıllarca. Şimdiyse sinemayı neredeyse ezdi dizi sektörü ve içinde olmak son derece makbul bir pozisyon.\nBütün bunları alt alta yazdığımızda ortaya çıkan, belki 40 yıl öncesinin değil ama tam da bu dönemin prensesi Meghan Markle. Bebeksi ve meleksi bir güzelliği yok ama ışıklı... Dünya dertlerine duyarlı...\nHerkesi, bilhassa da kızları 30'u geçince karalar bağlayan ve tantanaya başlayan anneleri hayata bağlayacak denli umut veriyor bir de: Her kadın bir gün prenses olabilir!\n"

In [ ]:
text_lower=text.lower()
new_text=text_lower.split()

In [ ]:
frekans=nltk.FreqDist(new_text)
frekans_count=Counter(frekans) #get the frequency 
bigram_values=list(frekans_count.values())
list_bigram=list(frekans_count) #list of all

In [ ]:
high = []
low = []

In [ ]:
for x in range(len(frekans_count)): #3den azsa low çoksa high
  if bigram_values[x]<3:
    low.append(list_bigram[x])
  else :
    high.append(list_bigram[x])

In [ ]:
h = high
l = low
dd = []
wr = []

In [ ]:
for j in range (len(low)):
   for i in range(len(high)):
       if levenshtein(l[j],h[i]) == 1.0 :
        dd.append(h[i])
        wr.append(l[j])
        d= {'low':wr,
        'high': dd}
        df = pd.DataFrame(d)

In [ ]:
df

    low high
0  alma  ama
1   bin  bir
2    ya   da